In [8]:
import pandas as pd 
import numpy as np 
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

ModuleNotFoundError: No module named 'sklearn.cross_validation'

In [ ]:
dataset = pd.read_csv("train_final.csv")
dataset.head()

In [5]:
feature_cols = ['f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17','f18','f19','f20','f21','f23']
features_X = dataset[feature_cols]
target_Y = dataset['f24']
features_X.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f13,f14,f15,f16,f17,f18,f19,f20,f21,f23
0,25884,1,33.63,118596,1,0,118595,125738,1,3,...,121374,-2.266430,1945,118450,119184,1,121372,1,1,2
1,34346,1,10.62,118041,1,0,117902,130913,1,1,...,118943,-0.305612,15385,117945,292795,1,259173,1,1,1
2,34923,1,1.77,118327,1,0,117961,124402,1,2,...,118786,2.015561,7547,118933,290919,1,118784,1,1,1
3,80926,1,30.09,118300,1,0,117961,301218,1,0,...,118332,-3.172501,4933,118458,118331,1,307024,1,1,2
4,4674,1,1.77,119921,1,0,119920,302830,1,0,...,128231,0.573767,13836,142145,4673,1,128230,1,1,620

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(features_X,features_y,test_size=0.25,random_state=0)

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)